* {
  box-sizing: border-box;
}

body {
  color: #080808;
  background-color: #E9E9E9;
  padding: 0;
  margin: 0 auto;
  font-family: "Epilogue", serif;
  min-height: 100vh;
  font-size: 16px;
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

p{
  font-size: 1.5rem;
}

.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  color: #080808;
}

.brand-title {
  font-size: 1.5rem;
  margin: .5rem;
  text-decoration: none;
}

.brand-title:hover {
  color: blue;
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: 080808;
  padding: 1rem;
}

.navbar-links li:hover {
  background-color: blue;
  color: white;
}

.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: 080808;
  border-radius: 10px;
}

@media (max-width: 800px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links ul li {
    text-align: center;
  }

  .navbar-links ul li a {
    padding: .5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }
}



.cta-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60vh;
  margin-bottom: 40px;
}
.cta-text-div{
  width: 50%;
  text-align: left;
}

.cta-text-real {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 3rem;
}

.cta-text-sub {
  margin-bottom: 20px;
  font-size: 1.5rem;
}
@media (max-width: 575px) {
  .cta-text-real {
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 0;
  }
}

.main-button {
  font-family: "Neue Haas Display Roman", Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
  display: inline-block;
  padding: 9px 24px;
  color: #FBFCFD !important;
  background-color: #3240F9;
  text-decoration: none;
  transition: background-color 0.3s ease;
  border: none;
}
@media (max-width: 575px) {
  .main-button {
    font-family: "Neue Haas Display Roman", Arial, Helvetica, sans-serif;
    padding: 9px 24px !important;
    font-size: 1rem;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.main-button:hover {
  text-decoration: none;
  background-color: #26233D !important;
  color: #FBFCFD !important;
}

.cta-image {
  width: 50%;
  height: 100%;
}
@media (max-width: 575px) {
  .cta-image {
    margin-top: -50px;
  }
}

.cta-image-div {
  width: 100%;
  height: 100%;
}
@media (max-width: 575px) {
  .cta-image-div {
    padding: 0;
  }
}

.section-intro {
  margin-bottom: 40px;
  text-align: right;
  font-weight: 500;
  font-size: 3rem;
}
.delimiter {
  width: 100%;
  height: 2px;
  background-color: #080808;
  margin: 20px 0;
}
.section-num {
  font-size: 3rem;
  margin-bottom: 20px;
}

.projects {
  width: 100%;
  height: 80vh;
}

.center {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.corousel_holder {
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.project-details {
  width: 40%;
  padding: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

#images {
  flex: 8;
  width: 50%;
  border-radius: 0.5rem;
  background: #023047;
  overflow: hidden;
  position: relative;
}

#images img {
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: opacity 1.5s, transform 1.5s;
}

.corousel_Img {
  opacity: 0;
  transform: scale(0);
}

.active {
  opacity: 1;
  transform: scaleX(1);
}

#previous,
#next {
  width: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  font-size: 1.5rem;
}

#previous i,
#next i {
  cursor: pointer;
}

#corouselPoition {
  text-align: center;
  font-size: 1rem;
}

@media screen and (min-width: 1000px) {
  .corousel_holder {
    height: 400px;
    width: 100%;
  }

  #previous,
  #next {
    font-size: 2rem;
  }

  .container {
    padding-top: 10%;
  }

  #corouselPoition {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  .corousel_holder {
    flex-direction: column;
    align-items: center;
    height: 60vh;
  }
  
  #previous, #next, .project-details, #images {
    width: 100%;
  }
}

.about-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.about-img{
  width: 50%;
}

.about-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about-text{
  width: 100%;
  text-align: left;
}