* {
  box-sizing: border-box;
}

body {
  color: #080808;
  background-color: #E9E9E9;
  padding: 0;
  margin: 0 auto;
  font-family: "Epilogue", serif;
  min-height: 100vh;
  font-size: 16px;
  width: 80vw;
  height: 100%;
  display: flex;
  flex-direction: column;
}

p {
  font-size: 1.5rem;
}

.navbar {
  display: flex;
  position: fixed;
  top: 0;
  width: 80vw;
  left:auto;
  z-index: 10;
  justify-content: space-between;
  align-items: center;
  color: #080808;
  background-color: #E9E9E9;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.brand-title {
  font-size: 3rem;
  text-decoration: none;
  color:#3240F9;
}

.brand-title:hover {
  color: #3240F9;
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: #080808;
  padding: 1rem 0;
}



.navbar-links li:hover {
  background-color: #3240F9;
}

.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: #080808;
  border-radius: 10px;
}

@media (max-width: 1000px) {
  body{
    width: 100vw;
    padding: 0 1rem;
  }
  .navbar {
    padding-top: 10px;
    padding-bottom: 10px;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
  .brand-title{
    font-size: 1.5rem;
  }

  .toggle-button {
    display: flex;
    margin: 0 1rem;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links ul li {
    text-align: center;
  }

  .navbar-links.active {
    display: flex;
  }
}

.cta-container {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60vh;
  margin-bottom: 60px;
}

.cta-text-div {
  width: 50%;
  text-align: left;
}

.cta-text-real {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 3rem;
}

.cta-text-sub {
  margin-bottom: 20px;
  font-size: 1.5rem;
}


@media (max-width: 575px) {
  .cta-text-real {
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 0;
  }
}

.main-button {
  font-family: "Neue Haas Display Roman", Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  display: inline-block;
  padding: 10px 25px;
  color: #E9E9E9 !important;
  background-color: #26233D;
  text-decoration: none;
  transition: background-color 0.3s ease;
  border: none;
}

@media (max-width: 575px) {
  .main-button {
    font-family: "Neue Haas Display Roman", Arial, Helvetica, sans-serif;
    padding: 9px 24px !important;
    font-size: 1rem;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.main-button:hover {
  text-decoration: none;
  background-color: #3240F9 !important;
  color: #080808!important;
}

.cta-image {
  width: 50%;
  height: 100%;
}

.cta-image-div {
  width: 100%;
  height: 100%;
}

@media (max-width: 575px) {
  .cta-image-div {
    padding: 0;
  }
}

@media (max-width: 800px) {
  p{
    font-size: 1.2rem;
  }
  .cta-container{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-top: 100px;
  }
  .cta-text-div, .cta-image{
    width: 100%;
  }
  .cta-image{
    height: 50vh;
  }
  /* .cta-text-real, .cta-text-sub{
    text-align: center;
  } */
  .cta-button{
    text-align: rigt;
  }
  .brand-title{
    padding-top: 10px;
  }
  
}

.section-intro {
  margin-bottom: 20px;
  text-align: right;
  font-weight: 500;
  font-size: 3rem;
  color: #3240F9;
}

.delimiter {
  width: 100%;
  height: 2px;
  background-color: #080808;
  margin-bottom: 20px;
}

.section-num {
  font-size: 3rem;
  margin-bottom: 20px;
}
@media (max-width: 800px) {
  .section-intro, .section-num {
    font-size: 1.5rem;
    margin-bottom: 10px;;
  }
  .delimiter, .sec {
  margin-bottom: 10px;
  }
}

.projects {
  width: 100%;
  margin-bottom: 60px;

}

.center {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.corousel_holder {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  /* background-color: #080808; */
}

.project-details {
  width: 40%;
  padding: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  color: #080808;
}

#images {
  flex: 8;
  width: 50%;
  border-radius: 0.5rem;
  background: #080808;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#images img {
  width: 100%;
  height: 100%;
  transition: opacity 1.5s, transform 1.5s;
}

.corousel_Img {
  opacity: 0;
  transform: scale(0);
}

.active {
  opacity: 1;
  transform: scale(1);
}

#project_link{
  color:#E9E9E9;
  font-size: 1.5rem;
  text-decoration: none;
}

#project_link:hover{
  text-decoration: none;
  border-bottom: 2px solid #E9E9E9;
}


#previous,
#next {
  width: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  font-size: 1.5rem;
  color: #080808;
}

#previous i,
#next i {
  cursor: pointer;
}

#corouselPoition {
  text-align: center;
  font-size: 1rem;
}

@media screen and (max-width: 768px) {
  .corousel_holder {
    flex-direction: column;
    align-items: center;
    height: 60vh;
  }

  
  .project-details,
  #images {
    width: 100%;
  }
  #previous,
  #next{
    display: none;
  }

}

.about{
  margin-bottom: 60px;
}

.about-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.about-img {
  width: 50%;
}

.about-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-text {
  width: 100%;
  text-align: left;
}

.contact{
  height: 80vh;
  margin-bottom: 60px;
}

@media (max-width: 800px) {
  .about-img {
    width: 100%;
  }
}

.skills-logo {
  display: flex;
  flex-wrap: wrap;
  gap: 50px; 
  justify-content: center;
}

.skills-logo img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  transition: transform 0.3s;
}

.skills-logo img:hover {
  transform: scale(1.1);
}

@media (max-width: 800px) {
  .skills-logo{
    gap: 20px;
  }
  .skills-logo img{
    width: 50px;
    height: 50px;
  }
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #080808;
  color: #E9E9E9;
}


.contact-cta {
  margin-bottom: 20px;
  font-size: 3rem;
  text-align: left;
}

.contact-email {
  text-decoration: none;
  margin-bottom: 20px;
  font-size: 5rem;
  color:#E9E9E9;
  text-align: left;
}

.contact-email:hover{
  text-decoration: none;
  text-decoration: underline;
}

.footer-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  margin-bottom: 30px;
}

.social-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 3rem;
  gap: 50px;
}

.social-container a {
  color: #3240F9;
  text-decoration: none;
}

.error{
  margin-top: 100px;
  width: 100%;
  height: 80vh;
}

.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #080808;
  color: #E9E9E9;
}


.error-message {
  margin-bottom: 20px;
  font-size: 3rem;
  text-align: left;
}

.error-back {
  text-decoration: none;
  margin-bottom: 20px;
  font-size: 5rem;
  color:#E9E9E9;
  text-align: left;
}

.error-back:hover{
  text-decoration: none;
  text-decoration: underline;
}

@media (max-width: 800px) {
  .contact{
    height: 40vh;
  }
  .about-container, .contact-container, .text-container{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .contact-container, .error-container{
    margin-bottom: 10px;
  }
  .footer-container{
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }
  .contact-cta, .error-message{
    font-size: 1rem;
  }
  .contact-email, .error-back{
    font-size: 2rem;
  }
}



