<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hilary Okello</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel='stylesheet'
        href='https://cdn-uicons.flaticon.com/2.6.0/uicons-bold-straight/css/uicons-bold-straight.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-brands/css/uicons-brands.css'>
    <script src="https://kit.fontawesome.com/e3d464afcc.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <nav class="navbar">
            <a class="brand-title" href="/">HILARY OKELLO</a>
            <a href="#" class="toggle-button">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </a>
            <div class="navbar-links">
                <ul>
                    <li><a href="#projects">01/PROJECTS</a></li>
                    <li><a href="#about">02/ABOUT</a></li>
                    <li><a href="#contact">03/CONTACT</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <div class="error" id="error">
            <div class="error-intro">
                <p class="section-intro">SOMETHING<br>WRONG?</p>
                <div class="delimiter"></div>
            </div>
            <div class="error-container">
                <div class="text-container">
                    <div class="error-message">An error occured<br>{{ .Status }}<br> {{ .Message }}</div>
                    <a href="/" class="error-back">RETURN BACK TO<br>SAFETY</a>
                </div>
            </div>
            <div class="footer-container">
                <p><strong>HILARY OKELLO</strong></p>
                <div class="social-container">
                    <a href="https://www.linkedin.com/in/hilary-okello-9b19551b1/" target="_blank"
                        class="social-icon"><i class="fi fi-brands-linkedin"></i></a>
                    <a href="https://github.com/HilaryOkello" target="_blank" class="social-icon"><i
                            class="fi fi-brands-github"></i></a>
                    <a href="https://x.com/HilaryOnyango" target="_blank" class="social-icon"><i
                            class="fi fi-brands-twitter-alt-square"></i></a>
                </div>
                <p><strong>Design & Development<br>by Hilary Okello</strong></p>
            </div>
        </div>
    </main>
    <footer>
    </footer>
    <script src="/static/app.js"></script>
</body>

</html>