<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hilary Okello</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/static/styles.css">
  <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-bold-straight/css/uicons-bold-straight.css'>
  <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-brands/css/uicons-brands.css'>
  <script src="https://kit.fontawesome.com/e3d464afcc.js" crossorigin="anonymous"></script>
</head>

<body>
  <header>
    <nav class="navbar">
      <a class="brand-title" href="/">HILARY OKELLO</a>
      <a href="#" class="toggle-button">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </a>
      <div class="navbar-links">
        <ul>
          <li><a href="#projects">01/PROJECTS</a></li>
          <li><a href="#about">02/ABOUT</a></li>
          <li><a href="#contact">03/CONTACT</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <main>
    <div class="cta-container">
      <div class="cta-text-div">
        <h2 class="cta-text-real">Hey, ✋!<br>
          I'm <strong>Hilary Okello</strong>,<br>
          a <strong>Software Developer</strong> based in Kisumu, Kenya.<br></h2>
        <p class="cta-text-sub"> Golang and JavaScript are my primary 🧰 for building robust solutions and tackling
          challenges head-on.
          Creativity is my secret weapon. Let's connect and create something impactful!</p>
        <a href="#contact" class="cta-button main-button">GET IN TOUCH</a>
      </div>
      <div class="cta-image">
        <div class="cta-image-div" style="background-image: url('/static/profile.png'); background-size: cover;">
        </div>
      </div>
    </div>
    <div class="projects" id="projects">
      <div class="projects-intro">
        <p class="section-intro">SELECTED<br>PROJECTS</p>
        <div class="delimiter"></div>
        <p class="section-num">01/03</p>
      </div>
      <div class="corousel_holder">
        <div id="previous">
          <i class="fa-solid fa-less-than"></i>
        </div>
        <div id="images">
        </div>
        <div class="project-details">
          <div id="project_details" class="details">
            <h2 id="project_title"></h2>
            <p id="project_desc"></p>
            <p id="project_stack"></p>
            <a id="project_link" target="_blank">GITHUB LINK
              <i class="fi fi-bs-arrow-up-right"></i>
            </a>
          </div>
        </div>
        <div id="next">
          <i class="fa-solid fa-greater-than"></i>
        </div>
      </div>
      <div id="corouselPoition">
        <span class="counter">●</span>
        <span class="counter">○</span>
        <span class="counter">○</span>
        <span class="counter">○</span>
      </div>
    </div>
    <div class="about" id ="about">
      <div class="about-intro">
        <p class="section-intro">ABOUT</p>
        <div class="delimiter"></div>
        <p class="section-num">02/03</p>
      </div>
      <div class="about-container">
        <div class="about-text">
          <P class="about-par">Hi, Again! I’m a web developer based in Kisumu, Kenya, with expertise in Golang and
            JavaScript.</P>

          <p>Currently, I’m working as an Apprentice Software Developer at Zone 01 Kisumu, where together with my
            colleagues, we build cool stuff in Go and JavaScript.</p>

          <p>Learning is a life-long process and and I'm always pushing myself to stay up to date with the latest
            trends in tech. I’m a strong believer in the power of creativity, teamwork, and
            maintaining a dynamism that fuels both personal and professional growth.</p>
          <p>If you're looking for someone with
            a versatile skill set and a passion for coding, I’d love to connect!</p>

          <p>Outside of coding, I’m an avid fan of TV shows, gardening, and exploring the culinary arts.</p>

          <a href="https://docs.google.com/document/d/1U6QceM3dcIGcV7aj5lTVF_g7EBbtYIccsYzloDlK-cc/edit?usp=sharing"
            target="_blank" class="main-button mr-3">MY CV</a>
        </div>
        <div class="about-img">
          <img src="/static/about.jpg" alt="a profile photo of Hilary Okello" class="about-image">
        </div>
      </div>
      <div class="skills-intro">
        <p class="skills-title"><strong>TECHNICAL SKILLS & EXPERIENCE</strong></p>
        <div class="delimiter"></div>
        <div class="skills-logo">
        </div>
      </div>
      <div class="skills-intro">
        <p class="skills-title"><strong>SOFT SKILLS</strong></p>
        <div class="delimiter"></div>
        <div class="skills-soft">
          <p>Peer-to-peer learning</p>
          <p>Dynamic</p>
          <p>Problem Solving</p>
          <p>Effective Communication</p>
          <p>Creativity</p>
        </div>
      </div>
    </div>
    <div class="contact" id="contact">
      <div class="contact-intro">
        <p class="section-intro">REACH<br>OUT</p>
        <div class="delimiter"></div>
        <p class="section-num">03/03</p>
      </div>
      <div class="contact-container">
        <div class="text-container">
          <div class="contact-cta">For any collaborative<br> projects or inquiries,<br> email me at:</div>
          <a href="mailto:hilaryokello091@gmail.com" class="contact-email">HILARYOKELLO091@<br>GMAIL.COM</a>
        </div>
      </div>
      <div class="footer-container">
        <p><strong>HILARY OKELLO</strong></p>
        <div class="social-container">
          <a href="https://www.linkedin.com/in/hilary-okello-9b19551b1/" target="_blank" class="social-icon"><i
              class="fi fi-brands-linkedin"></i></a>
          <a href="https://github.com/HilaryOkello" target="_blank" class="social-icon"><i
              class="fi fi-brands-github"></i></a>
          <a href="https://x.com/HilaryOnyango" target="_blank" class="social-icon"><i
              class="fi fi-brands-twitter-alt-square"></i></a>
        </div>
        <p><strong>Design & Development<br>by Hilary Okello</strong></p>
      </div>
  </main>
  <footer>
  </footer>
  <script src="/static/app.js"></script>
</body>

</html>